
lab1/tests/__pycache__/main_test.cpython-312.pyc
lab1/src/__pycache__/main.cpython-312.pyc
lab1/.idea/.name
lab1/.idea/inspectionProfiles/profiles_settings.xml
lab1/.idea/discord.xml
lab1/.idea/lab1.iml
lab1/.idea/misc.xml
lab1/.idea/modules.xml
*.xml
.idea/.name
*.iml
*.pyc
*.idea